@using System.Net.Http
@inject HttpClient Http
@inject ISnackbar Snackbar

@if (Tests != null)
{
    @if (action == "Delete" || action == "Update")
    {
        <MudDialog>
            <TitleContent>
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@popupIcon" Class="mr-3 mb-n1" />
                    @popupTitel
                </MudText>
            </TitleContent>
            <DialogContent>
                <div class="content-block popup-content-block" style=" ">
                    <div class="row ml-0 mr-0 " style="min-height: 100%;">
                        <div class="col-lg-12 col-md-12 col-sm-12 c-border-left-blue ">
                            <div class="row pb-4  ">
                                <div class="col-12 text-left page-header-title">
                                    <i class="bi-camera bg-blue"></i>
                                    <MudItem xs="12" sm="12" md="12">
                                        <MudTextField @bind-Value="@question.Id" Label="Id" Variant="Variant.Text" Margin="Margin.Dense" Disabled="true"></MudTextField>
                                    </MudItem>
                                </div>
                            </div>
                            <div class="row pb-4  ">
                                <div class="col-12 text-left page-header-title">
                                    <i class="bi-camera bg-blue"></i>
                                    <MudItem xs="12" sm="12" md="12">
                                        <MudTextField @bind-Value="@question.Text" Label="Titel" Variant="Variant.Text" Margin="Margin.None" Disabled="@disabled"></MudTextField>
                                    </MudItem>
                                </div>
                            </div>
                            <div class="row pb-4  ">
                                <div class="col-12 text-left page-header-title">
                                    <i class="bi-camera bg-blue"></i>
                                    <MudItem xs="12" md="12" sm="12">
                                        <MudSelect T="int" @bind-Value="@question.TestId" Label="Test" Margin="Margin.Normal" Disabled="@disabled"  Variant="Variant.Text" Direction="Direction.Bottom" Dense="true" OffsetY="true">
                                            @foreach (Test c in Tests)
                                            {
                                                <MudSelectItem Value="@(c.Id)">@c.Titel</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 24px; padding-left: 17px;">
                            <div class="row pb-4  ">
                                <div class="col-8 text-left page-header-title">
                                    <i class="bi-patch-question bg-blue"></i>
                                    <h5 class="p-0 m-0">question Information</h5>
                                </div>
                            </div>
                            <div class="row pb-4 ">
                                <div id="accordion" class="w-100 question-collapse">
                                    <div class="card c-border-left-blue">
                                        <div class="card-header " id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Questions
                                                </button>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </DialogContent>
            <DialogActions>
                <MudButton OnClick="Cancel">Cancel</MudButton>
                <MudButton Color="Color.Error" OnClick="Finish">@action</MudButton>
            </DialogActions>
        </MudDialog>
    }
    else
    {
        <MudDialog>
            <TitleContent>
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@popupIcon" Class="mr-3 mb-n1" />
                    @popupTitel
                </MudText>
            </TitleContent>
            <DialogContent>
                <MudItem xs="12" sm="12" md="12">
                    <MudTextField @bind-Value="@question.Id" Label="Id" Variant="Variant.Text" Margin="Margin.Normal" Disabled="true"></MudTextField>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <MudTextField @bind-Value="@question.Text" Label="Text" Variant="Variant.Text" Margin="Margin.Normal" Disabled="@disabled"></MudTextField>
                </MudItem>
            </DialogContent>
            <DialogActions>
                <MudButton OnClick="Cancel">Cancel</MudButton>
                <MudButton Color="Color.Info" OnClick="Finish">Add</MudButton>
            </DialogActions>
        </MudDialog>
    }
}

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public Question question { get; set; } = new Question();

    [Parameter]
    public string action { get; set; }

    private string popupIcon = "";
    private string popupTitel = "";
    private bool disabled = true;

    private List<Test> Tests;

    protected override async Task OnInitializedAsync()
    {
        await GetTests();

        if (action == "Add")
        {
            question = new Question
            {
                Id = 0,
                Text = "",
                ImagePath = "",
                VideoPath = "",
            };

            popupIcon = Icons.Material.Filled.Add;
            popupTitel = "Add question?";
            disabled = false;
        }
        else if (action == "Delete")
        {
            popupIcon = Icons.Material.Filled.DeleteForever;
            popupTitel = "Delete question?";
            disabled = true;
        }
        else if (action == "Update")
        {
            popupIcon = Icons.Material.Filled.Update;
            popupTitel = "Update question?";
            disabled = false;
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task Finish()
    {
        if (action == "Add")
        {
            await Add();
        }
        else if (action == "Delete")
        {
            await Delete();
        }
        else if (action == "Update")
        {
            await Update();
        }
    }

    private async Task Add()
    {
        try
        {
            var result = await Http.PostAsJsonAsync("api/question/Insert/", question);

            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                Snackbar.Add("Added", Severity.Success);
                MudDialog.Close(DialogResult.Ok(question.Id));
            }
            else
            {
                Snackbar.Add("Not Added", Severity.Error);
                MudDialog.Close(DialogResult.Cancel());
            }
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    private async Task Delete()
    {
        try
        {
            var result = await Http.DeleteAsync("api/question/Delete/" + Convert.ToInt32(question.Id));

            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                Snackbar.Add("Deleted", Severity.Success);
                MudDialog.Close(DialogResult.Ok(question.Id));
            }
            else
            {
                Snackbar.Add("Not Deleted", Severity.Error);
                MudDialog.Close(DialogResult.Cancel());
            }
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    private async Task Update()
    {
        try
        {
            var result = await Http.PutAsJsonAsync("api/question/Update/", question);

            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                Snackbar.Add("Updated", Severity.Success);
                MudDialog.Close(DialogResult.Ok(question.Id));
            }
            else
            {
                Snackbar.Add("Not Updated", Severity.Error);
                MudDialog.Close(DialogResult.Cancel());
            }
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    private async Task GetTests()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<Test[]>("api/Test/GetAll");

            if (result != null)
            {
                Tests = result.ToList<Test>();
            }
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }
}
